extends layouts/main
include mixins/videoBlock

block content
  .videos
    h1 비디오 목록
      each item in videos
        +videoBlock({
          title: item.title,
          description: item.description,
          videoFile: item.videoFile
        })
