extends layouts/main
 
block content
  .detail__header
    h3 유저 상세정보
    input(type="text", name="userName", placeholder="사용자 이름")
    input(type="text", name="userEmail", placeholder="사용자 이메일")
    
    a(href=routes.editProfile) 프로필 수정