extends layouts/main
 
block content
  .video__detail__header
    +videoBlock({
      title: item.title,
      description: item.description,
      videoFile: item.videoFile,
      id: videoid
    })
    